.texts {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar {
  margin-top: 10px;
  height: 6px;
  width: 100%;
  background-color: lightgray;
  position: relative;
}

.bar::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  width: var(--width);
}
